:root {
    /*Primary*/
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /* Neutral */

    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}


    
* {
    box-sizing: border-box; 
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;      
}

body {
    width: 100vw;
    background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 17vw bottom 76vh, left 0vw top 52vh; 
    

   
}


@media (min-width: 376px ) {
    body {        
        background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: left top, right bottom;
    }
   
}


h1 {
    font-weight: bold;
    text-align: center;
    color: var(--very-dark-magenta);
    font-size: 48px;
    
    
}

h2 {
    color: var(--soft-pink);
    text-align: center;
}

.rated__review__container, .rated__report__guru__container, .rated__besttech__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(303, 10%, 53%, 0.2);
    margin: 1rem;
    text-align: center;
    border-radius: 10px;
    padding-top: 1rem;
    
}


.rated__paragraph {
    font-weight: bold;
    color: var(--very-dark-magenta);
}

svg {
    
    display: inline-block;
    width: 20px;
    
}


/* Testimony */ 

.testimony__name__container {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    padding-top: 2rem;
    align-items: start;
    
}

.testimony__paragraph__container {
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.testimony__individual__container {    
    background: var(--very-dark-magenta);
    margin: 1rem;
    border-radius: 10px;

}

.testimony__img__colton {
    border-radius: 50%;
    width: 50px;
}

.testimony__name {
    font-weight: bold;
    color: var(--white);
}

.testimony__verified_buyer {
    color: var(--dark-grayish-magenta);
    display: block;
}

.testimony__text {
    
    color: var(--white);
    padding: 2rem;
}


/* Footer */

footer {
    background: var(--soft-pink);
    width: 90vw;
    margin: 1rem;
    margin-left: 1.5rem;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
   
}



/* Desktop */

@media (min-width: 1440px) {
    main {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    
    .section__title__rated__container {
        display: grid;
        grid-template-columns: 50% 50%;
        
        
        
    }

    .testimony__general__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 3rem;
        padding-left: rem;
        padding-right: 
    }

    h1 {
        max-width: 60%;
        text-align: left;
    }

    h2 {
        text-align: left;
        font-size: 20px;
        max-width: 80%;
    }

    .testimony__individual__container {
        width: 25%;

    }

    svg {
        margin-right: 0.5rem;
    }

    .title__subtitle__container {
        padding-left: 8rem;
        
        
    }
    
    .rated__container {        
        padding-right: 5rem;       
        
    }

    .rated__review__container, .rated__report__guru__container, .rated__besttech__container {
        max-width: 400px;
        position: relative;
        top: 3rem;        
    }
   
    .rated__review__container {
        position: relative;
        left: 6rem;
    }

    .rated__report__guru__container {
        position: relative;
        left: 9rem;
    }

    .rated__besttech__container {
        position: relative;
        left: 12rem;
    }
    
    .rated__review, .rated__report__guru, .rated__besttech {
        display: flex;
        flex-direction: row;
        padding: 0.5rem;
        padding-bottom: 1rem;                
    }

    .rated__paragraph {
        margin: 0px;
        padding: 0px;        
        line-height: 1.2;
        text-align: center;
        padding-left: 1rem;        
    }
    
    .second__testimony {
        position: relative;
        top: 1rem;
    }

    .third__testimony {
        position: relative;
        top: 2rem;
    }
}

